<footer>
  <div class="socials">
    <a href="https://www.linkedin.com/in/hugh-palmer-0a8139a5/" target="_blank" rel="noopener noreferrer">
      <img src="../Images/LinkedIN_white.png" alt="LinkedIn" width="30" height="30">
    </a>
    <a href="https://www.instagram.com/hughpalmerproduction/" target="_blank" rel="noopener noreferrer">
      <img src="../Images/Instagram_white.png" alt="Instagram" width="30" height="30">
    </a>
    <a href="https://github.com/2bitburrito" target="_blank" rel="noopener noreferrer">
      <img src="../Images/Github_white.png" alt="Github" width="30" height="30">
    </a>
  </div>
  <p>
    Made by me &copy; 2026 Hugh Palmer - Melbourne Australia. All rights
    reserved.
  </p>
</footer>
