<nav id="mainNavbar">
  <div class="logo" id="logo">
    <a href="/">Hugh Palmer<span class="spin"> \ </span>Audio<span class="quote">"Sounds
        Rolling"</span></a>
  </div>
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a href="/main/#aboutme">About</a>
    </li>
    <li>
      <a href="/main/#contact-form">Contact</a>
    </li>
  </ul>
</nav>
