name: build and deploy
on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@v5
      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: go version

      - name: Generate
        run: make generate

      - name: Build
        run: make build

      - name: Test
        run: make test

      - name: Deploy to FlyIO
        run: fly deploy
        env: 
          FLY_API_TOKEN=${{ secrets.FLY_API_TOKEN }}
